<section
  class="text-gray-400 bg-gray-900 body-font"
  style="height: calc(100vh - 80px)"
>
  <div class="container px-5 py-24 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">
        About us
      </h1>
      <p class="leading-relaxed text-lg">
        Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki
        taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman
        taiyaki vape DIY tote bag drinking vinegar cronut adaptogen squid fanny
        pack vaporware. Man bun next level coloring book skateboard four loko
        knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice
        before they sold out gentrify plaid gastropub normcore XOXO 90's pickled
        cindigo jean shorts. Slow-carb next level shoindigoitch ethical
        authentic, yr scenester sriracha forage franzen organic drinking
        vinegar.
      </p>
      <span
        class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"
      ></span>
      <h2 class="text-white font-medium title-font tracking-wider text-sm">
        NJ Veneracion | ME Dela Cruz | E Roxas | AJ Areola
      </h2>
      <p class="text-gray-500">Developers</p>
    </div>
  </div>
</section>
